footer {
  background-color: #efefef;
}

@media (min-width: 1024px) {
  footer {
    background: linear-gradient(to right, #f6f6f6 0 32%, #efefef 32% 100%);
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-right {
  width: 30.5%;
}

.footer-left {
  width: calc(100% - 33.33%);
}

.footer-title {
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 1.8rem;
}

.footer-list li {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 14px;
}
